[submodule "AutoTweeterBot"]
	path = AutoTweeterBot
	url = https://github.com/AdityaGupta150/AutoTweeterBot/
[submodule "usefulAPIs"]
	path = usefulAPIs
	url = git@github.com:AdityaGupta150/Useful_APIs.git
[submodule "prob-dash"]
	path = prob-dash
	url = git@github.com:AdityaGupta150/probDash.git
[submodule "reactBoilerplate"]
	path = reactBoilerplate
	url = git@github.com:AdityaGupta150/reactBoilerplate.git
[submodule "materialReact"]
	path = materialReact
	url = http://www.nothing.git/
[submodule "AdityaGupta150"]
	path = AdityaGupta150
	url = git@github:AdityaGupta150/AdityaGupta150
[submodule "Ludo-The_Game\\"]
	path = Ludo-The_Game\\
	url = git@github.com:AdityaGupta150/Ludo-The_Game.git
[submodule "worldLineSim\\"]
	path = worldLineSim\\
	url = git@github.com:AdityaGupta150/worldLineSim.git
