[submodule "AutoTweeterBot"]
	path = AutoTweeterBot
	url = https://github.com/AdityaGupta150/AutoTweeterBot/
[submodule "Tutorials/authenticationIntro"]
	path = Tutorials/authenticationIntro
	url = https://github.com/Createdd/authenticationIntro.git
[submodule "personalAPIs"]
	path = personalAPIs
	url = git@github.com:AdityaGupta150/PersonalUse_APIs.git
