html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Register
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css",
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk",
            crossorigin="anonymous")
        link(rel="stylesheet", href="../styles/login.css")

        meta(name="theme-color", value="#563d7c")

    <body class="text-center">
        form(action="/data", method="post", class="form-signin")
            h1(class="h3 mb-3 font-weight-normal") Enter Information
            //- Take name later, through the dashboard itself 
            label(for="UserName", class="sr-only") UserName
            input(type="text", name="UserName", class="form-control", required, autofocus)
            br
            label(for="Email", class="sr-only") Email
            input(type="email", name="Email", class="form-control", required)
            br
            label(for="Password", class="sr-only") Password
            input(type="password", name="Password", class="form-control", required)
            br
            label(for="Password", class="sr-only") Confirm Password
            input(type="password", name="confPassword", class="form-control", required)
            br
            input(type="checkbox", name="remember")
            label(for="remember") Remember Me
            br
            input(type="submit", value="Register")
            p(class="mt-5 mb-3 text-muted") &copy; 2020
    </body>