extends layout

block content
    h4= "Enter the pin"
    form(action="/", method="post")
        input(type="checkbox", name="Chose here")
        input(type="password", name="Password")
        input(type="submit", value="Login")