<h2>Products</h2>

<!-- *ngFor is a 'structural directive' -> ie. shape/reshape the DOM's structure, by manupilating the elements to which they are added -->
<div *ngFor = "let product of products">
    <h3>
        <!-- Property Binding syntax [] -> used to set attribute's of elements -->
        <a [title] = "'More details of ' + product.name">   <!--Q. Can't use interpolation here, Why? -->
            {{product.name}}
        </a>
    </h3>   <!-- This is the interpolation syntax {{}}... `Interpolation` renders the property's value as text  -->
    <p *ngIf = "product.description" >
        Desc - {{product.description}}
    </p>
</div>